{% extends "base.html" %} {% block title %}{{ board.name }} - Yeni Konu -
sakinfan.com{% endblock %} {% block content %}
<h2>{{ board.name }} - Yeni Konu Oluştur</h2>
<form method="POST" action="/board/{{ board.id }}/new">
  <input
    type="hidden"
    name="csrftoken"
    value="{{ request.scope['csrftoken']() }}"
  />
  <p>
    <label for="title">Başlık:</label><br />
    <input type="text" id="title" name="title" style="width: 100%" required />
  </p>
  <p>
    <label for="body">Mesaj:</label><br />
    <textarea
      id="body"
      name="body"
      rows="10"
      style="width: 100%"
      required
    ></textarea>
  </p>
  <p>
    <button type="submit">Konuyu Aç</button>
  </p>
</form>
{% endblock %}